body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.header{
    width: 30%;
    margin: 0 auto;
    padding-top: 10px;
    background-image: linear-gradient(to bottom right, rgba(151, 102, 12, 0.822), rgba(209, 196, 13, 0.815));
    border-bottom: 4px solid black;
    border-radius: 10px;
    background-origin: padding-box;
    position: relative;
    text-align: center;

}

.protag_image{
    margin-top: 20px;
    position: relative;
}

.task_list{
    margin: 0 auto;
    background-color: blanchedalmond;
    position: fixed;
    

}